{% extends 'base.html' %}
<!--{% load crispy_forms_tags %}-->
{% block title %}
{% endblock %}

{% block content %}
<h4 class="display-6">Введите название места опишите воспоминание о нем!</h4>
<br>
<div class="row">
    <div class="col-md-8">
        {% include 'includes/map.html' %}
    </div>
    <div class="col-md-4">
        <form action="{% url 'memories:add_place' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.title.id_for_label }}">Название места:</label>

                {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="{{ form.description.id_for_label }}">Описание (комментарий) об этом месте:</label>
                {{ form.description }}
            </div>
            <button class="btn btn-primary w-100" type="submit">Сохранить воспоминание</button>
        </form>
    </div>
</div>
{% endblock %}