{% extends 'base.html' %}
{% load socialaccount %}
{% load account %}

{% block title %} 
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <p class="lead">
      Это веб-приложение предназначено для сохранения впечатлений о посещаемых местах и организации связанной информации. 
      Главная задача сервиса - помочь пользователям сохранять и структурировать информацию о местах, которые они посетили или хотят посетить. 
      Здесь вы можете создавать записи о местах, добавлять описания и комментарии к каждой записи, а также размещать метки на карте для указания мест,
       которые вы посетили. Наша цель - сделать использование данного сервиса привлекательным для пользователей.</p>
       <h2 class="display-5">Поделитесь своими впечатлениями о посещаемых местах!</h2>
  </div>


    <br>

    {% comment %} <div class="d-grid gap-2 col-6 mx-auto">  
      <a href="{% provider_login_url 'vk' %}">
          <button class="btn btn-primary" type="submit">
            Войти с помощью VK
          </button>
      </a>

      <a href="{% provider_login_url 'google' %}">        
        <button type="button"  class="btn btn-light">  
          Войти с помощью Google
        </button>
      </a>
    </div> {% endcomment %}

{% endblock %}