{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
    {% if places %}
        <div><h2 class="display-5">Вот все ваши воспоминания:</h2></div>
    {% else %}
        <div><h2 class="display-5">У вас нет ни одного воспоминания!</h2></div>
    {% endif %}

    {% for place in places %}
    <div class="alert alert-light" style="border-color: #bfbfbf;">
        <h3 class="display-5">{{ place.title }}</h3>
        <p><mark><b>Описание:</mark></b> {{ place.description }}</p>
        <p><mark><b>Дата публикации:</mark></b> {{ place.pub_date }}</p>
    <!--    <p><b>Автор: </b><mark>{{ place.author }}</mark></p>-->
    </div>
    {% endfor %}
{% endblock %}


<!--    {% comment %}-->
<!--    <div class="d-grid gap-2 col-6 mx-auto">-->
<!--        <a href="{% url 'memories:add_place' %}">-->
<!--            <button type="button" class="btn btn-success">Добавить воспоминание</button>-->
<!--        </a>-->

<!--        <form action="{% url 'logout' %}" method="POST">-->
<!--            {% csrf_token %}-->
<!--            <button type="submit" class="btn btn-danger">Выйти из аккаунта</button>-->
<!--        </form>-->
<!--    </div>-->
<!--    {% endcomment %}-->

